.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.App-body {
  padding: 20px 15vw;
  display: flex;
  align-items: space-between;
  justify-content: center;
}

.App-body > * {
  margin: 20px;
}

.code-area {
  width: 100%;
  min-height: 300px;
  resize: none;
}

.input-text {
  border: solid 1px #e4e4e4;
  border-radius: 5px;
  padding: 5px;
  font-family: monospace;
  width: 100%;
}

.input-text:focus {
  outline: none;
  border: solid 1px #bdbdbd;
}

.margin-bottom {
  margin-bottom: 15px;
}

.text-area-container {
  width: 100%;
}

.button {
  margin: 10px 0;
  max-width: 100px;
  background-color: #4fd84f;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 20px;
  color: white;
  user-select: none;
}

.button:hover {
  background-color: #43c543;
}

.button:active {
  background-color: #36ad36;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.label {
  text-align: left;
}

.shortcut-hint {
  font-size: 12px;
  color: #b1b1b1;
}

.text-result-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.text-result {
  text-align: left;
  width: 100%;
  font-family: monospace;
  border: solid 1px #add2b7;
  border-radius: 5px;
  padding: 10px;
  flex: 1;
}

.text-result:hover {
  border: solid 3px #add2b7;
}

.text-result:active {
  border: solid 3px #add2b7;
  background-color: #e9ffef;
}

.clickable {
  cursor: pointer;
}

.copy-hint {
  font-size: 12px;
  color: #b1b1b1;
}
